@{
    ViewBag.Title = "About Us";
}
<section class="header-color">
    <div class="container">
        <h2>@ViewBag.Title</h2>
        <h3>@ViewBag.Message</h3>
    </div>
</section>

<div class="container">
    

    <p>Use this area to provide additional information.</p>
</div>

