@{
    ViewBag.Title = "Contact Us";
}


<section class="header-color">
    <div class="container">
        <h2>@ViewBag.Title</h2>
        <h3>@ViewBag.Message</h3>
    </div>
</section>
<div class="container">
    <address class="btn-paragraph">
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100<br />
        <strong>Email Address:</strong>   <a href="#">blacksafrika@info.co.za</a><br />
    </address>

    <address>
        
        @*<strong>Marketing:</strong> <a href="#">Marketing@example.com</a>*@
        @*<strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
    </address>
</div>
